<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Liên hệ - Nhóm Exe201</title>

    <!-- Favicon -->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.png}" type="image/x-icon">

    <!-- CSS Libraries -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/aos.css}">
    <link rel="stylesheet" th:href="@{/assets/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/swiper-bundle.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"> <!-- Main CSS -->


</head>
<style>
    .info {

        margin-bottom: 30px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
    }

    .label {
        font-weight: bold;
    }

    h1 {
        text-align: center;
    }
</style>

<body>

    <!-- Include Header -->
    <div th:replace="~{header :: header}"></div>

    <h1>Liên hệ nhóm Exe201</h1>
    <div class="info">
        <p><span class="label">Tên nhóm:</span> Exe201</p>
        <p><span class="label">Số điện thoại:</span> 0378330686</p>
        <p><span class="label">Email:</span> <a href="mailto:tungnthe176064@fpt.edu.vn">tungnthe176064@fpt.edu.vn</a>
        </p>

        <h2>Gửi phản hồi</h2>
        <p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSd7f1_XYhws8sMgdim527ALyNCBWBRZKeXPNSG0SsTRaMcW5A/viewform?pli=1"
                target="_blank" rel="noopener noreferrer">
                Nhấn vào đây để gửi phản hồi
            </a>
        </p>
    </div>


    <!-- Include Footer -->
    <div th:replace="~{footer :: footer}"></div>

    <!-- JS Libraries -->
    <script th:src="@{/assets/js/metismenujs.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/js/all.min.js}"></script>
    <script th:src="@{/assets/js/swiper-bundle.min.js}"></script>
    <script th:src="@{/assets/js/aos.js}"></script>
    <script th:src="@{/assets/js/fslightbox.js}"></script>
    <script th:src="@{/assets/js/purecounter_vanilla.js}"></script>
    <script th:src="@{/assets/js/trk-menu.js}"></script>
    <script th:src="@{/assets/js/custom.js}"></script>

</body>

</html>