<footer class="footer ">
    <div class="footer__top">
        <div class="container">
            <div class="footer__top-wrapper">
                <div class="row gy-5 gx-2">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="footer__about">
                            <a href="index.html" class="footer__about-logo"><img th:src="@{/assets/images/logo/logo-dark.svg}" alt="Logo">
                            </a>
                            <p class="footer__about-moto ">We are ensuring a delightful shopping experience for every customer.</p>
                            <div class="footer__social">
                                <ul class="social">
                                    <li class="social__item">
                                        <a href="#" class="social__link social__link--style2"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li class="social__item">
                                        <a href="#" class="social__link social__link--style2"><i class="fa-brands fa-linkedin-in"></i></a>
                                    </li>
                                    <li class="social__item">
                                        <a href="#" class="social__link social__link--style2"><i class="fab fa-youtube"></i></a>
                                    </li>
                                    <li class="social__item">
                                        <a href="#" class="social__link social__link--style2"><i class="fa-brands fa-x-twitter"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>Exe201
                    <div class="col-xl-2 col-md-3 col-sm-6 col-6">
                        <div class="footer__links">
                            <div class="footer__links-tittle">
                                <h4>Support</h4>
                            </div>
                            <div class="footer__links-content">
                                <ul class="footer__linklist">
                                    <li class="footer__linklist-item"> <a href="contact.html">Help</a>
                                    </li>
                                    <li class="footer__linklist-item"> <a href="contact.html">Hotline</a>
                                    </li>
                                    <li class="footer__linklist-item"> <a href="contact.html">Contact</a> </li>
                                    <li class="footer__linklist-item"> <a href="#">Chat now</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-3 col-sm-6 col-6">
                        <div class="footer__links">
                            <div class="footer__links-tittle">
                                <h4>Account</h4>
                            </div>
                            <div class="footer__links-content">
                                <ul class="footer__linklist">
                                    <li class="footer__linklist-item"> <a href="/login">Sign In</a>
                                    </li>
                                    <li class="footer__linklist-item"> <a href="/cart">View Cart</a>
                                    </li>
                                
                                    <li class="footer__linklist-item"> <a href="/checkout">Shipping Details</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-sm-6">
                        <div class="footer__links">
                            <div class="footer__links-tittle">
                                <h4>Quick Links</h4>
                            </div>
                            <div class="footer__links-content">
                                <ul class="footer__linklist">
                                    <li class="footer__linklist-item"> <a href="#">Customer Support</a>
                                    </li>
                                    <li class="footer__linklist-item"> <a href="#">Delivery Details</a>
                                    </li>
                                    <li class="footer__linklist-item"> <a href="#">Terms & Conditions</a> </li>
                                    <li class="footer__linklist-item"> <a href="#">Privacy Policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-wrapper">
<!--                <div class="footer__bottom-payment">-->
<!--                    <ul class="payment">-->
<!--                        <li class="payment__item">-->
<!--                            <img src="assets/images/payment/1.png" alt="payment method logo">-->
<!--                        </li>-->
<!--                        <li class="payment__item">-->
<!--                            <img src="assets/images/payment/2.png" alt="payment method logo">-->
<!--                        </li>-->
<!--                        <li class="payment__item">-->
<!--                            <img src="assets/images/payment/3.png" alt="payment method logo">-->
<!--                        </li>-->
<!--                        <li class="payment__item">-->
<!--                            <img src="assets/images/payment/4.png" alt="payment method logo">-->
<!--                        </li>-->
<!--                        <li class="payment__item">-->
<!--                            <img src="assets/images/payment/5.png" alt="payment method logo">-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
                <div class="footer__bottom-copyright">
                    <p class=" mb-0">Copyright© 2024 <a href="https://themeforest.net/user/thetork" target="_blank">thetork</a>.
                        All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
